---
import { getMembers } from "../scripts/getMembers";
let members = await getMembers();

import { sortMembersByTeam } from "../scripts/sortTeams.ts";
let { leadershipTeam, communicationTeam, projects } =
  sortMembersByTeam(members);

import "../styles/global.css";
import "../styles/members.css";

import Layout from "../layouts/layout.astro";
import TeamDisplayLeft from "../components/TeamDisplayLeft.astro";
import TeamDisplayRight from "../components/TeamDisplayRight.astro";
import ProjectTeam from "../components/ProjectTeam.tsx";

// Import the TeamDropdown component
import TeamDropdown from '../components/TeamDropdown';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Team Display</title>
  </head>
  <body>
    <section class="section-background">
      <Layout>

        <div class="team-dropdown-container">
          <TeamDropdown client:only="react" />

        </div>

        <div class="nav" id="desktop-nav">
          <button class="lead-button"><a href="#leadership-section">LEADERSHIP</a></button>
          <button class="com-button"><a href="#communications-section">COMMUNICATIONS</a></button>
          <button class="proj-button"><a href="#projects-section">PROJECTS</a></button>
        </div>

        <div id="leadership-section" class="team-section">
          <TeamDisplayLeft team={leadershipTeam} />
        </div>
        <div id="communications-section" class="team-section"> 
          <TeamDisplayRight team={communicationTeam} />
        </div>
        <div id="projects-section" class="team-section">
          <ProjectTeam client:only="react" projects={projects} />
        </div>
      </Layout>
    </section>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const savedTeam = localStorage.getItem('selectedTeam');
        
        if (savedTeam) {
          showTeamSection(savedTeam); // Show the previously selected team section
        }
      });

      function showTeamSection(team: string) {
        // Hide all sections
        document.querySelectorAll('.team-section').forEach((section) => {
          (section as HTMLElement).style.display = 'none';
        });

        // Show the selected team section
        const teamSection = document.getElementById(`${team}-section`);
        if (teamSection) {
          (teamSection as HTMLElement).style.display = 'block';
        }
      }

    </script>
  </body>
</html>
