---
import "../styles/global.css";
import "../styles/members.css";
const { team, desc, name, cover } = Astro.props;
---

<div class="person-card">
  <div class="img-wrapper">
    <img src={cover} alt={name} />
  </div>
  <p class="description-box-coms">
    <b>{name}</b><br />
    {team}<br />
    {desc}
  </p>
</div>
