---
import "../styles/global.css";
import "../styles/members.css";
const { team, desc, name, cover } = Astro.props;

const getClassName = (team: string) => {
  switch (team) {
    case "Leadership Team":
      return "description-box-lead";
    case "Communication Team":
      return "description-box-coms";
    case "Projects: Fermata":
    case "Projects: Legato":
    case "Projects: Schmetterlinge":
    case "Projects: The Gaggle":
      return "description-box-proj";
    // default:
    //   return 'description-box-proj';
  }
};

const className = getClassName(team);
---

<div class="person-card">
  <div class="img-wrapper">
    <img src={cover} alt={name} />
  </div>
  <p class={className}>
    <b>{name}</b><br />
    {team}<br />
    {desc}
  </p>
</div>
