---
import "../styles/global.css";
import MembersDisplay from "./MembersDisplay.astro";
const { team } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <div class="leadership" id="leadership-section">
      <div class="left1">
        <h2 class="lead-title"><b>Leadership Team</b></h2>
        <p class="main-description-box-lead">
          Description of the leadership team... Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer sit amet fringilla libero.
          Praesent rutrum in dui ut feugiat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Nullam eget eleifend nibh. Maecenas ut
          turpis ante.
        </p>
      </div>
      <div class="right1">
        {team.map((member: { name: any; team: any; desc: any; cover: any; }) => (
          <MembersDisplay
            name={member.name}
            team={member.team}
            desc={member.desc}
            cover={member.cover} 
          />
        ))}
      </div>
    </div>
  </body>
</html>
