---
import "../styles/global.css";
import MembersDisplay from "./MembersDisplay.astro";
import PersonCard from "./PersonCard.tsx";
const { teamName, team, teamDescription } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <div class="leadership" id="leadership-section">
      <div class="left1">
        <h2 class="lead-title"><b>{teamName}</b></h2>
        <p class="main-description-box-lead">
          {teamDescription}
        </p>
      </div>
      <div class="right1">
        {team.map((member: { name: any; team: any; desc: any; cover: any; }) => (
          <PersonCard
            name={member.name}
            team={member.team}
            desc={member.desc}
            cover={member.cover}
            color={"--YOO-Green-Lightest"}
          />
        ))}
      </div>
    </div>
  </body>
</html>
