---
import "../styles/global.css";
import PersonCard from "./PersonCard.tsx";
import MembersDisplay from "./MembersDisplay.astro";
const { teamName, team, teamDescription } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <div class="communications" id="com-section">
      <div class="left2">
        {
          team.map((member: { name: any; team: any; desc: any; cover: any }) => (
            <PersonCard
              name={member.name}
              team={member.team}
              desc={member.desc}
              cover={member.cover}
              color={"--YOO-Blue-Light"}
            />
          ))
        }
      </div>
      <div class="right2">
        <h2 class="coms-title"><b>{teamName}</b></h2>
        <p class="main-description-box-coms">
          {teamDescription}
          <button class="learn-more-coms">LEARN MORE</button>
        </p>
      </div>
    </div>
  </body>
</html>
