<!--
This is the global layout, reflecting the common components to all pages (header, footer, and anything else we might add.
 -->

---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/footer.astro";
import { DeprecatedWarning } from "../components/Navbar/DeprecatedWarning";
import Navbar from "../components/Navbar/Navbar";
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
	image?: string;
	canonicalURL?: string;
}

const {
	title = "Youth of Ōrākei",
	description = "Empowering the youth of Ōrākei through community engagement and activities",
	image = "/social-image.jpg",
	canonicalURL = Astro.url.href,
} = Astro.props;
---

<!-- TODO Make title and description props from each page -->

<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={image} />

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<!--<Header />-->
		<Navbar client:load/>
		<DeprecatedWarning />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
